In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('instagrampost-steming.csv')

df

     Unnamed: 0                                            Steming
0             0  ugm metaverse minecraft challenge hai sobat mi...
1             1  looking at the challenge or trouble not sure l...
2             2  hello sobat online kenal fatmawati universitas...
3             3  msib mari ajar holaaa everyone tesalonika univ...
4             4  halo generasi muda indonesia kenal himmatuz za...
..          ...                                                ...
177         177  terima kasih sempat program studi independent ...
178         178  agustus kemerdakaan nkri identik riah raya mer...
179         179  hai magangers bingung studi independen galau p...
180         180  mt school parsial agenda upgrading trainer lea...
181         181  ayo ikut kontes foto agustus kemerdakaan nkri ...

[182 rows x 2 columns]

In [3]:
df_cleaned = df.dropna()

df

     Unnamed: 0                                            Steming
0             0  ugm metaverse minecraft challenge hai sobat mi...
1             1  looking at the challenge or trouble not sure l...
2             2  hello sobat online kenal fatmawati universitas...
3             3  msib mari ajar holaaa everyone tesalonika univ...
4             4  halo generasi muda indonesia kenal himmatuz za...
..          ...                                                ...
177         177  terima kasih sempat program studi independent ...
178         178  agustus kemerdakaan nkri identik riah raya mer...
179         179  hai magangers bingung studi independen galau p...
180         180  mt school parsial agenda upgrading trainer lea...
181         181  ayo ikut kontes foto agustus kemerdakaan nkri ...

[182 rows x 2 columns]

In [4]:
df_cleaned.to_csv('maribelajar-cleaned.csv', index=False)